html {
  line-height: 1.5;
  background-color: #ddd6cf;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  border-top: 4px solid #595652;
  border-bottom: 4px solid #595652;
  background-color: #79756f;
  text-align: center;
  margin: 0;
}

header {
  padding: .6em;
  padding-bottom: 0;
}

h1 {
  font-family: "Bevan", serif;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

.nav li {
  display: inline-block;
  font-family: sans-serif;
}

.nav a {
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  padding: .6em .75em;
  border-radius: 6px;
  font-size: 1.125rem;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin-bottom: .3em;
}

.nav a:hover {
  background-color: #f33;
}

nav ul {
  padding: 0;
}
